<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/menu">Lighthouse Lunch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
        <a class="nav-item nav-link" href="/registration">Sign up</a>
        <a class="nav-item nav-link" href="/login">Sign in</a>
        <a class="nav-item nav-link" href="/cart">Cart</a>

    </div>
  </nav>
</header>
