<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Local Links for css styling -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main >

    <table class="table" style="margin-top: 4.5em ;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price per serving (CAD)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Speghatti</td>
          <td>Beef bolognese</td>
          <td>8.99</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Soup</td>
          <td>Tomato and basil</td>
          <td>5.99</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Fried Rice</td>
          <td>Mixed vegetable</td>
          <td>10.50</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2" >Add tax</td>
          <td>15% VAT</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2" class="table-active">Total</td>
          <td>123</td>
        </tr>


      </tbody>


    </table>

    <form action="/cart" method="POST" id="checkoutOrder">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="submit" style="width: 40%;">Checkout</button>
      </div>
    </form>


  </main>



  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
