:root {
  --black: #0a0a0a;
  --white: #f2f2f2;
  --brown: #8c2f12;
  --red: #ce4419;
}

$base-color: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

#logo-text:hover {
  font-size: 250%;
}



header .navbar-brand {
  color: rgb(88, 89, 177);
  font-size: 3rem;
  font-weight: bolder;
}

nav {
  background-color: $base-color;
  width: 100%;
  height: 3em;
  padding: 5rem 1.5rem;
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.5rem;

}

main .index_body{
  display: flex;
  justify-content: space-between;
  padding: 5em;

}

main.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

}

section.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(100, 102, 107);
  }
  img:hover {
    box-shadow: 5px 5px rgb(55, 63, 83);
  }
}



#cart-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  font-weight: bold;


      .cart-table {

              thead {

              font-size:25px ;
            }
            tbody {
              font-weight:normal;
              font-size: 22px;
            }
            tfoot {
              font-size: 25px;

            }

      }

}

#cart-item {
  display: flex;
  justify-content: center;
}



#register-body {
  padding: 100px;

  #register-box {
    border-style:outset;
    border-width: 15px;
    border-color: rgb(103, 123, 180);
  }
}

#login-body {
  padding: 100px;

  #login-box {
    border-style:outset;
    border-width: 15px;
    border-color: rgb(103, 123, 180);
  }
}


