
main.container {
  display: flex;
  flex-direction: row;

}

section.categories {
  display: flex;
  flex-direction: column;
}

section.menu {
  display: flex;
  flex-direction: column;
}

section #menu-items-container {
  border-style: dashed;
}
